<h1><%= params[:category] %></h1>

<% if @plays.count == 0 %>
  <h3>There are not records for this category</h3>
<% else %>
  <div class="row">
    <% @plays.each do |play| %>
      <div class="col-md-3">
        <a href="/plays/<%= play.id%>%">
          <% if play.image.attached? %>
            <%= image_tag(rails_blob_path(play.image, disposition: "attachment"), style: 'height:300px ;width:300px;') %>
          <% else %>
            <%= play.title %>
          <% end %>
        </a>
      </div>
    <% end %>
  </div>
<% end %>