<h1 class="text-success"></h1>
  <p>
    <strong>Title: </strong>
    <%= @play.title %>
  </p>
  <p>
    <strong>Description: </strong>
    <%= @play.description %>
  </p>
  <p>
    <strong>Director: </strong>
    <%= @play.director %>
  </p>

<%= link_to "Back to index", plays_path %>